# Created by newuser for 5.9

### Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zdharma-continuum/zinit-annex-as-monitor \
    zdharma-continuum/zinit-annex-bin-gem-node \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-rust

### End of Zinit's installer chunk
#

zinit light zdharma-continuum/fast-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light sunlei/zsh-ssh
zinit light ael-code/zsh-colored-man-pages
zinit light MichaelAquilina/zsh-you-should-use
zinit light ptavares/zsh-exa
zinit light Aloxaf/fzf-tab
zinit light hlissner/zsh-autopair


HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt SHARE_HISTORY

# git autocomplete
autoload -Uz compinit promptinit
compinit
promptinit

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
export HOMEBREW_API_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles/api"
export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles"
export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git"
export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"
export HOMEBREW_PIP_INDEX_URL="https://pypi.tuna.tsinghua.edu.cn/simple"

export PATH="/home/vhxubo/.local/share/fnm:$PATH"
export PATH="/snap/bin:$PATH"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end}}


function config_proxy() {
  npm config set registry https://registry.npmmirror.com
}

alias pn="pnpm"
alias pd="pnpm dev"
alias n="nvim ."
alias lgit="lazygit"
alias G="lazygit"
alias t="tmux"
alias ta="t attach"
alias ts="t new -s"
alias tt="t attach -t"
alias gg="ghq get"
alias czi="chezmoi"
alias autoremove="sudo pacman -Qtdq | sudo pacman -Rns -"
alias xr="xrandr --output eDP-1 --scale 1.6 --auto --output HDMI-1 --mode 3840x2160 --pos 3072x0 --primary --fb 6912x2160"
alias xrr="xrandr --output eDP-1 --auto --output HDMI-1 --mode 3840x2160 --primary --right-of eDP-1"
alias lock="slock"
alias g="git"
alias genSSHKey='ssh-keygen -t ed25519 -C "{{ .email }}"'
alias getSSHKey="cat ~/.ssh/id_ed25519.pub"

export VISUAL="nvim"
export EDITOR="nvim"
export TERM="xterm-256color"
export ZK_NOTEBOOK_DIR="/home/vhxubo/notes"

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
eval "$(fnm env --use-on-cd)"
eval "$(atuin init zsh)"

[ -f /usr/share/fzf/key-bindings.zsh ] && source /usr/share/fzf/key-bindings.zsh
[ -f /usr/share/fzf/completion.zsh ] && source /usr/share/fzf/completion.zsh
