[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
  helper = store
[include]
  path = /home/{{ .name }}/.config/gitalias/gitalias.txt
[mergetool]
  prompt = false
	keepBackup = false
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
