* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}

#window {
  padding: 0 16px;
  color: #f92672;
  font-weight: bold;
}

.modules-right {
  padding: 0 16px;
  margin-right: 8px;
}

#clock {
  padding: 0 16px;
  background: #ae81ff;
  color: white;
}

#network {
  background: #f9e2af;
  padding: 0 16px;
}

#bluetooth {
  background: #89b4fa;
  padding: 0 16px;
}

#pulseaudio {
  background: #89b4fa;
  padding: 0 16px;
}

#battery {
  background: #a6e3a1;
  padding: 0 16px;
}

#tray {
  padding-left: 16px;
}

#backlight {
  background: #f9e2af;
  padding: 0 16px;
}
