window {
  border-radius: 16px;
}

#input {
  padding: 4px;
  margin: 8px;
  padding-left: 16px;
  border: none;
  outline: none;
  border-radius: 16px;
}
#input:focus {
  border: 0px solid #1e1e2e;
}

#inner-box {
  font-weight: bold;
  border-radius: 16px;
}

#outer-box {
  border: none;
  border-radius: 16px;
}

#img {
  margin-right: 8px;
}

#entry {
  padding: 8px 16px;
  border-radius: 16px;
  outline: none;
  margin-bottom: 8px;
}
